@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  animation: smoothscroll1 1s;
  }


html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  scroll-behavior: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
  }

body {
  opacity: 1;
  margin: 0 auto;
  background-color:#f0efe8;
  font-family: 'futura-pt', 'Jost', sans-serif;
  color: #000;
  }

a {
  text-decoration: none;
  outline: none;
  color: black; 
  }

a:hover {
  color: #484848;
  }

.container {
  width: 80%;
  margin: 2rem auto;
  }

.grid {
  display: grid;
  grid-auto-flow: dense; /* | column | row dense | column dense; */
  }
 
@media (max-width: 700px) {
  .container {
    width: 74%;
    margin: 2.5rem auto;
  }

  .grid {
    grid-template-areas:
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi1 gi1 gi1 gi1 gi1 gi1 gi1 gi1 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi2 gi2 gi2 gi2 gi2 gi2 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi3 gi3 gi3 gi3 gi3 gi3 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi4 gi4 gi4 gi4 gi4 gi4 gi4 gi4 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi5 gi5 gi5 gi5 gi5 gi5 gi5 gi5 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi6 gi6 gi6 gi6 gi6 gi6 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi7 gi7 gi7 gi7 gi7 gi7 gi7 gi7 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi8 gi8 gi8 gi8 gi8 gi8 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi9 gi9 gi9 gi9 gi9 gi9 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi10 gi10 gi10 gi10 gi10 gi10 gi10 gi10 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."


    " . gi11 gi11 gi11 gi11 gi11 gi11 gi11 gi11 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi12 gi12 gi12 gi12 gi12 gi12 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi13 gi13 gi13 gi13 gi13 gi13 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi14 gi14 gi14 gi14 gi14 gi14 gi14 gi14 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi15 gi15 gi15 gi15 gi15 gi15 gi15 gi15 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi16 gi16 gi16 gi16 gi16 gi16 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi17 gi17 gi17 gi17 gi17 gi17 gi17 gi17 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi18 gi18 gi18 gi18 gi18 gi18 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi19 gi19 gi19 gi19 gi19 gi19 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . gi20 gi20 gi20 gi20 gi20 gi20 gi20 gi20 ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."

    " . . gi21 gi21 gi21 gi21 gi21 gi21 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi22 gi22 gi22 gi22 gi22 gi22 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi23 gi23 gi23 gi23 gi23 gi23 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi24 gi24 gi24 gi24 gi24 gi24 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi25 gi25 gi25 gi25 gi25 gi25 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi26 gi26 gi26 gi26 gi26 gi26 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi27 gi27 gi27 gi27 gi27 gi27 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi28 gi28 gi28 gi28 gi28 gi28 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi29 gi29 gi29 gi29 gi29 gi29 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi30 gi30 gi30 gi30 gi30 gi30 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi31 gi31 gi31 gi31 gi31 gi31 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi32 gi32 gi32 gi32 gi32 gi32 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi33 gi33 gi33 gi33 gi33 gi33 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . gi34 gi34 gi34 gi34 gi34 gi34 . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."
    " . . . . . . . . . ."

    " . . . . foot foot . . . ."
    ;
    grid-gap: 4vw;
    }
  }



@media (min-width: 701px) {
  .grid {
    grid-template-areas:
      ". . . . . . . . . . "
      " . gi1 gi1 gi1 gi1 . gi2 gi2 gi2 . "
      ". . . . . . . . . . "
      " . gi3 gi3 gi3 . gi4 gi4 gi4 gi4 . "
      ". . . . . . . . . . "
      " . gi5 gi5 gi5 gi5 . gi6 gi6 gi6 ."
      ". . . . . . . . . . "
      " . gi7 gi7 gi7 gi7 . gi8 gi8 gi8 . "
      ". . . . . . . . . . "
      " . gi9 gi9 gi9 . gi10 gi10 gi10 gi10 . "
      ". . . . . . . . . . "

      " . gi11 gi11 gi11 gi11 . gi12 gi12 gi12 . "
      ". . . . . . . . . . "
      " . gi13 gi13 gi13 . gi14 gi14 gi14 gi14 . "
      ". . . . . . . . . . "
      " . gi15 gi15 gi15 gi15 . gi16 gi16 gi16 ."
      ". . . . . . . . . . "
      " . gi17 gi17 gi17 gi17 . gi18 gi18 gi18 . "
      ". . . . . . . . . . "
      " . gi19 gi19 gi19 . gi20 gi20 gi20 gi20 . "
      ". . . . . . . . . . "

      " . gi21 gi21 gi21 . . gi22 gi22 gi22 . "
      ". . . . . . . . . . "
      " . gi23 gi23 gi23 . . gi24 gi24 gi24 . "
      ". . . . . . . . . . "
      " . gi25 gi25 gi25 . . gi26 gi26 gi26 . "
      ". . . . . . . . . . "
      " . gi27 gi27 gi27 . . gi28 gi28 gi28 . "
      ". . . . . . . . . . "
      " . gi29 gi29 gi29 . . gi30 gi30 gi30 . "
      ". . . . . . . . . . "
      " . gi31 gi31 gi31 . . gi32 gi32 gi32 . "
      ". . . . . . . . . . "
      " . gi33 gi33 gi33 . . gi34 gi34 gi34 . "

      ". . . . foot foot . . . . "
    ;
    grid-gap: 6vw;
    }
  }


@media (min-width: 1200px) {
  .container {
    width: 85%;
    margin: 3rem auto;
  }
  .grid {
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      " . gi1 gi1 gi1 gi1 . gi2 gi2 gi2 . gi3 gi3 gi3 . "
      ". . . . . . . . . . . . . ."
      " . . gi4 gi4 gi4 gi4 . . gi5 gi5 gi5 gi5 . . "
      ". . . . . . . . . . . . . ."
      " . gi6 gi6 gi6 . gi7 gi7 gi7 gi7 . gi8 gi8 gi8 ."
      ". . . . . . . . . . . . . ."
      ". . . gi9 gi9 gi9 . . gi10 gi10 gi10 gi10 . ."
      ". . . . . . . . . . . . . ."

      " . gi11 gi11 gi11 gi11 . gi12 gi12 gi12 . gi13 gi13 gi13 . "
      ". . . . . . . . . . . . . ."
      " . . gi14 gi14 gi14 gi14 . . gi15 gi15 gi15 gi15 . . "
      ". . . . . . . . . . . . . ."
      " . gi16 gi16 gi16 . gi17 gi17 gi17 gi17 . gi18 gi18 gi18 ."
      ". . . . . . . . . . . . . ."
      ". . . gi19 gi19 gi19 . . gi20 gi20 gi20 gi20 . ."
      ". . . . . . . . . . . . . ."

      ". . . gi21 gi21 gi21 . . gi22 gi22 gi22 . . ."
      ". . . . . . . . . . . . . ."
      ". . gi23 gi23 gi23 . . gi24 gi24 gi24 . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . gi25 gi25 gi25 . . gi26 gi26 gi26 . ."
      ". . . . . . . . . . . . . ."
      ". . . gi27 gi27 gi27 . . gi28 gi28 gi28 . . ."
      ". . . . . . . . . . . . . ."
      ". . gi29 gi29 gi29 . . gi30 gi30 gi30 . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . gi31 gi31 gi31 . . gi32 gi32 gi32 . ."
      ". . . . . . . . . . . . . ."
      ". . . gi33 gi33 gi33 . . gi34 gi34 gi34 . . ."
      ". . . . . . . . . . . . . ."
    
      ". . . . . . foot foot . . . . . ." 
    ;
    grid-gap: 6vw;
    }
  }

.photo {
    object-fit: cover;
    place-self: center;
    transition: all 1s linear;
    }

.gi1 {
  grid-area: gi1;
  }
.gi2 {
  grid-area: gi2;
  }
.gi3 {
  grid-area: gi3;
  }
.gi4 {
  grid-area: gi4;
  }
.gi5 {
  grid-area: gi5;
  }
.gi6 {
  grid-area: gi6;
  }
.gi7 {
  grid-area: gi7;
  }
.gi8 {
  grid-area: gi8;
  }
.gi9 {
  grid-area: gi9;
  }
.gi10 {
  grid-area: gi10;
  }
.gi1 {
  grid-area: gi1;
  }
.gi2 {
  grid-area: gi2;
  }
.gi3 {
  grid-area: gi3;
  }
.gi4 {
  grid-area: gi4;
  }
.gi5 {
  grid-area: gi5;
  }
.gi6 {
  grid-area: gi6;
  }
.gi7 {
  grid-area: gi7;
  }
.gi8 {
  grid-area: gi8;
  }
.gi9 {
  grid-area: gi9;
  }
.gi10 {
  grid-area: gi10;
  }
.gi11 {
  grid-area: gi11;
  }
.gi12 {
  grid-area: gi12;
  }
.gi13 {
  grid-area: gi13;
  }
.gi14 {
  grid-area: gi14;
  }
.gi15 {
  grid-area: gi15;
  }
.gi16 {
  grid-area: gi16;
  }
.gi17 {
  grid-area: gi17;
  }
.gi18 {
  grid-area: gi18;
  }
.gi19 {
  grid-area: gi19;
  }
.gi20 {
  grid-area: gi20;
  }
.gi21 {
  grid-area: gi21;
  }
.gi22 {
  grid-area: gi22;
  }
  .gi23 {
  grid-area: gi23;
  }
.gi24 {
  grid-area: gi24;
  }
.gi25 {
  grid-area: gi25;
  }
.gi26 {
  grid-area: gi26;
  }  
.gi27 {
  grid-area: gi27;
  }    
.gi28 {
  grid-area: gi28;
  }  
.gi29 {
  grid-area: gi29;
  }  
.gi30 {
  grid-area: gi30;
  }  
.gi31 {
  grid-area: gi31;
  }  
.gi32 {
  grid-area: gi32;
  }  
.gi33 {
  grid-area: gi33;
  }   
.gi34 {
  grid-area: gi34;
  }  
     

.preview {
	width: 100%;
  }

#about, #Lightbox {
  display: none;
  opacity: 0;
  }

#about {
  transition: all .3s linear;
  background-color:#f0efe8;
  }

#abt {
/*  min-height: 70vh;
  margin: 5vh auto;
  text-align: center;*/
  }

#hello {
  background-color: #FFFFFC;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y:auto;
  } 
  
#helloContent {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 5px;
  }

@media (max-width: 700px) {
  #helloContent{
    font-size: 100%;
    flex: 0 0 80%;
    }
  }

@media (min-width:701px) {
  #helloContent{
    font-size: 120%;
    flex: 0 0 80%;
    }
  }

@media (min-width: 1200px) {
  #helloContent{
    font-size: 125%;
    flex: 0 0 50%;
    }
  }
    
#helloContent a { 
  text-decoration: underline;
  }
  
#helloContent a:hover {
  text-decoration: none;
  }

#helloContent p {    
  text-align: justify;
  }

#helloContent table, #helloContent td {
  text-align: left;
    vertical-align: top;
    text-align: left;
  }

.table-date {
  text-align: right;
  }

#helloImg{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  }

 
#helloText{
  overflow: hidden;
}

@media (max-width: 700px) {
  #helloText{
    clear:both;
    }
    #helloImg {
      margin-right: 0px;
    }
  }
    
@media (min-width:701px) {
  #helloText{
    overflow:hidden;
    }
 }
    
@media (min-width: 1200px) {
  #helloText{
    overflow: hidden;
    }
  }

#helloText p {margin-top:-5px;}

#helloImg img{
  max-width: 250px; 
  display: block;
  }

#prints {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  } 

#shopPrints{
  text-align: center;
  font-size: 175%;
  font-weight: 300;
  flex: 0 0 90%;
  }

#Lightbox {
  transition: all 1s linear;
  background: #f0efe8;
  }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  }

/*note, < and > buttons */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto 3em auto;
  padding: 0;
  }

.slide {
  display: none;
  cursor: pointer;
  }

.image-slide {
  max-width: 95vw;
  max-height: 90vh; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.modal-preview {
	width: 100%;
  }

img.preview, img.modal-preview {
  opacity: 1;
  }

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
  cursor: pointer;
  }

img.hover-shadow {
  transition: 0.3s;
  }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.close, .closeAbt {
  position: fixed;
  top: 1;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 10px;
  font-family: 'futura-pt', 'Jost', sans-serif;
  color: #000;
  }

.close:hover,
.close:focus,
.closeAbt:hover,
.closeAbt:focus {
  color: #484848;
  text-decoration: none;
  cursor: pointer;
  }

